body{
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.7vh;
}

#app {
  position: fixed;
  width: 100vw;
  height: 100vh;
	top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

#logo {
  position: fixed;
  width: 100vw;
  height: 7vh;
  top: 0px;
  left: 0px;
	background-color: lightgrey;
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#backButton{
	position: fixed;
	top: 1vh;
	left: 1vh;
	width: 5vh;
	height: 5vh;
	transform: scale(0.75, 1);
	z-index: 100;
}

#navbar {
  position: fixed;
  width: 100vw;
  height: 10vh;
	bottom: 0vh;
  background-color: rgb(46, 159, 252);
  font-size: 3vh;
  display: flex;
  justify-content: center;
}

/*##############*/
/*#            #*/
/*#   NAVBAR   #*/
/*#            #*/
/*##############*/
.navbar.homeBtn {
  width: calc(100vw/4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar.searchBtn {
  width: calc(100vw/4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar.listBtn {
  width: calc(100vw/4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar.userBtn {
  width: calc(100vw/4);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*End NavBar*/


/*############*/
/*#          #*/
/*#   HOME   #*/
/*#          #*/
/*############*/
.home.notificationList {
  position: fixed;
  top: 15vh;
  height: 27vh;
  gap: 1vh;
  width: calc(50.625vh * 0.9) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; 
}

.home.notification {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  background-color: #bdbdbd;
  gap: 10vw;
}

.notification.list {
  margin: 1.6vh;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.notification.name > div{
  display: flex;
  flex-direction: column;
}

.notification.name {
  font-size: 10px;
  margin: 0;
  margin-top: 0.4vh;
  margin-right: 1vh;
}

.notification.name > h1{
  display: flex;
  justify-content: right;
  font-size: 1.4vh;
  font-weight: bolder;
}

.home.followedList {
  position: fixed;
  top: 47vh;
  height: 43vh;
  width: calc(50.625vh * 0.9) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  overflow-y: auto; 
}

.home.followed {
  display: flex;
  justify-content: center;
  padding: 1.5vh;
  width: 80vw;
  background-color: #bdbdbd;
}
/*End Home*/

/*#######################*/
/*#                     #*/
/*#   SIGNIN & SIGNUP   #*/
/*#                     #*/
/*#######################*/
.signIn.container,
.signUp.container {
  position: fixed;
	align-self: center;
	margin-bottom: 20vh;
  font-size: 1.5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signIn.container>input,
.signUp.container>input {
  width: calc(50.625vh/3);
  height: calc(50.625vh/30);
  font-size: calc(50.625vh/30);
  margin-bottom: 0.5vh;
}

.signInBtn,
.signUpBtn {
  border: none;
  border-radius: 0.5vh;
  color: white;
  font-family: inherit;
  font-size: 1.6vh;
  padding: 0.5vh 1vh;
  margin: 0.5vh;
  transition: box-shadow 0.1s, background-color 0.1s;
  cursor: pointer;
  width: 7.5vh;
  height: 3vh;
}
.signUpBtn {
  background-color: rgb(97, 76, 76);
}
.signInBtn {
  background-color: rgb(177, 77, 77);
}
/*End SignIn & SignUp*/

/*#############*/
/*#           #*/
/*#   SEARCH  #*/
/*#           #*/
/*#############*/
.search.searchBarBG {
  position: fixed;
  width: 90vw;
  height: 5vh;
  top: 10vh;
  border-radius: 1vh;
  background-color: #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search.searchBar {
  margin: 0px;
  width: calc(90% - 3vh);
  height: 3vh;
  border-radius: .75vh;
  font-size: 3vh;
}

.search.searchButton {
  width: 3.5vh;
  height: 3.5vh;
  margin-left: 1vh;
  border-radius: .75vh;
}

.search.resultContainer {
  position: fixed;
  top: 18vh;
  width: 90vw;
  height: 69vh;
  /*background-color: grey;*/
  /*border: 1px solid grey;*/
  display: flex;
  flex-direction: column;
}

.search.result {
  width: 90vw;
  height: 10vh;
  margin-bottom: 1vh;
  background-color: lightgrey;
  border-radius: 0.5vh;
  outline: 1px black solid;
  display: flex;
}
.search.result>h3 {
  margin-left: 4vh;
  font-size: 3vh;
}
.search.result>img {
	position: relative;
  width: 5vh;
  height: 5vh;
  margin-left: auto;
  padding-bottom: 2vh;
	background-color: transparent;
}
.search.result.username {
  margin-left: auto;
  margin-right: 1vh;
	margin-top: 1.5vh;
  outline: 0px;
  width: 5vh;
	top: 1.5vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
	background-color: transparent;
}
/*End Search*/
/*#############*/
/*#           #*/
/*#   USER    #*/
/*#           #*/
/*#############*/
.user.profileInfo {
  position: fixed;
  width: 90vw;
  top: 13.5vh;
  /*background-color: brown;*/
  display: flex;
}

.user.profileImage {
  min-width: 12vh;
  height: 12vh;
  border: 1px solid black;
  margin-right: 5vw;
}
.user.ProfileImageButton {
position: fixed;
top: 23vh;
width: 12.3vh;
/* box-sizing: border-box; */
/* width: fit-content; */
}

.user.profileDescription {
  border: solid black 1px;
  height: 20vh;
  width: 100%;
  background-color: gray;
}

.user.profileDescription.content{
	margin-left: 0vw;
	width: 80%;
	background-color: transparent;
}

.user.movieImage {
  width: 10vh;
  height: 10vh;
  border: 1px solid black;
  float: left;
}

.user.topMoviesContainer {
  position: fixed;
  top: 40vh;
  max-width: 90vw;
  height: 47vh;
  display: grid;
  grid: 8vh auto auto auto /auto;
  grid-gap: 1vh;
}

.user.topMoviesTitle {
  width: 90vw;
  height: 7vh;
  background-color: gray;
  font-size: 35px;
  text-align: center;
}

.user.topMoviesTitle input[type="text"] {
  height: 7vh; 
  width: 90vw;
  background-color: grey;
  box-sizing: border-box;
  font-size: 35px;
  text-align: center;
}

.user.topMoviesTitle input[type="text"]::placeholder {
  color:lightgray; 
}

.user.profileStar {
  position: fixed;
  margin-top: 12vh;
  margin-left: 3vw;
}
.user.profileStar img {
  width: 64px;
  height: 64px;
}
.user.followStar {
	position: fixed;
  margin-top: 12vh;
  margin-left: 3vw;
	/* right: 0vw; */
	/* margin-right: 5vw; */
	/* margin-top: 12vh; */
  /* margin-left: 3vw; */
	/* width: 5vh; */
	/* font-s;ze: xx-large; */
}

.user.filmInfo {
  text-align: center;
  /* float: LEFT; */
}

.user.movieRating {
  float: right;
  font-size: xx-large;
}

/*User ending*/

.movieList.container {
  position: fixed;
  width: 90vw;
  top: 9vh;
	display: flex;
  justify-content: center;
}

.movieList.title {
  position: fixed;
  width: 90vw;
  height: 8vh;
  background-color: lightgrey;
  font-size: 2vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.movieList.title.plusBtn{
	width: 7vh;
	height: 7vh;
	right: 6vw;
}

.movieList.content {
  position: fixed;
  top: 19vh;
  width: fit-content;
  height: 69vh;
  border: 1px grey solid;
	
	overflow-y: auto;
}

.movieList.box{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 90vw;
	align-items: center;
}

.movieList.element {
  width: 90vw;
  height: 10vh;
	margin-bottom: 10vh;

	background-color: grey;
}

.movieElement.container{
	width: 90vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin-bottom: 1vh;
	height: 10vh;

	background-color: lightgrey;

	outline: grey 1px solid;
}
.movieElement.container.expanded{
	/*box-sizing: border-box;*/
	height: fit-content;
	margin-bottom: 1vh;
}

.movieElement.minimal{
	width: 90vw;
	height: 10vh;

	display: flex;
}

.movieElement.image{
	position: relative;
	top: 0.5vh;
	left: 0.5vh;
	min-width: 9vh;
	height: 9vh;
	margin-right: 1vh;
	border: black 1px solid;
}

.movieElement.movieImageButton{
	position: relative;
	top: 7.2vh;
	left: -9.75vh;
	height: 1.75vh;
	min-width: 9.25vh;
	min-width: 9.25vh;
}

.movieElement.minimal.midSection{
	flex-grow: 1;
	/*background-color: red;*/

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.movieElement.movieTitle{
	flex-grow: 1;
	height: 5vh;
	width: 100%;
	font-size: 2.5vh;
	font-weight: bolder;

	text-align: center;
	display: flex;
	align-items: center;
}
.movieElement.movieTitle>span{
	width: 100%;
}
.movieElement.movieTitle>textarea{
	position: relative;
	height: 6vh;
	padding: 0px 4vw;
	width: 100%;
	/*padding: 0px;*/
	box-sizing: border-box;
	overflow-x: hidden;

	font-size: 2.5vh;
	font-weight: bolder;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;

	resize: none;
}

.movieElement.releaseYear{
	flex-grow: 1;

	height: 1.1vh;

	display: flex;
	align-items: center;
}
.movieElement.releaseYear>input[type="number"]{
	width: 15vw;
	min-width: 3vh;
	height: 1.7vh;
	font-size: 1.7vh;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}

.movieElement.score{
	position: relative;
	right: 0px;
	min-width: calc(0.75vw + 3vh + 5vh + 0.5vh); /* Edge padding + width of outOf + width of score*/
	max-width: 1vw;
	/*background-color: seagreen;*/
	font-size: 3vh;
	font-weight: bold;

	display: flex;
	align-items: center;
	justify-content: right;
}
.movieElement.score.outOf{
	max-width: 3vh;
	min-width: 3vh;
	margin-top: 1vh;
	margin-right: 1vw;
	/*background-color: aqua;*/
	font-size: 2vh;
	text-align: right;
	
}
.movieElement.score>div>div>input[type="number"]{
	height:3.5vh;
	width: 5vh;
	font-size: 3vh;
	font-weight: bold;
	text-align: right;
	box-sizing: border-box;
	overflow-x: hidden;
}

.movieElement.detailBox{
	width: 90vw;
	display: flex;
	justify-content: center;
}

.movieElement.detailBox>div{
	width: 45vw;
	text-align: center;
	font-size: 2vh;
}

.movieElement.detailBox>div>div>textarea{
	resize:vertical;
	width: 40vw;
	height: 3vh;
	font-size: 1.75vh;
}

.movieElement.description,
.movieElement.actors,
.movieElement.personalComments{
	width: 90vw;
	text-align: center;
}

.movieElement.description>textarea,
.movieElement.actors>textarea,
.movieElement.personalComments>textarea{
	width: 85vw;
	height: 10vh;
	min-height: fit-content;
	font-size: 1.75vh;
	resize: vertical;
}

.movieElement.actors>textarea,
.movieElement.personalComments>textarea{
	height: 5vh;
}