.signUp {
  background-color: rgb(97, 76, 76);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  padding: 5px 10px;
  margin: 5px;
  transition: box-shadow 0.1s, background-color 0.1s;
  cursor: pointer;
}

.signIn {
  background-color: rgb(177, 77, 77);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  padding: 5px 10px;
  margin: 5px;
  transition: box-shadow 0.1s, background-color 0.1s;
  cursor: pointer;
}

#app {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 50.625vh;
  height: 90vh;
  outline: 1px black dashed;
  top: 0;
  left: 0;
}

#navbar {
  position: fixed;
  width: 50.625vh;
  height: 10vh;
  background-color: blue;
  top: 80vh;
  display: flex;
  justify-content: center;
}

#logo {
  position: fixed;
  width: 50.625vh;
  height: 7vh;
  top: 0px;
  left: 0px;
  font-size: 2vh;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  position: fixed;
  width: 50.625vh;
  height: 90vh;
  outline: 1px black dashed;
  top: 0;
  left: 0;
}

#navbar {
  position: fixed;
  width: 50.625vh;
  height: 10vh;
  background-color: rgb(46, 159, 252);
  top: 80vh;
}

.signUpView {
  position: fixed;
  top: 10vh;
}

.signInView {
  position: fixed;
  top: 10vh;
}

.homeBtn {
  width: calc(50.625vh/4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBtn {
  width: calc(50.625vh/4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.listBtn {
  width: calc(50.625vh/4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.userBtn {
  width: calc(50.625vh/4);
  display: flex;
  justify-content: center;
  align-items: center;
}