html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    font-size: 15px;
    color: red;
}

h1{
    color: red;
    margin: 5px;
    padding: 5px;
}

.signUp {
    background-color: rgb(97, 76, 76);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: inherit;
    padding: 5px 10px;
    margin: 5px;
    transition: box-shadow 0.1s, background-color 0.1s;
    cursor: pointer;
}

.signIn {
    background-color: rgb(177, 77, 77);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: inherit;
    padding: 5px 10px;
    margin: 5px;
    transition: box-shadow 0.1s, background-color 0.1s;
    cursor: pointer;
}